body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}
.container{
	max-width: 970px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 6px;
}
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: 200;
	line-height: 2.1428571435;
	color: inherit;
	background-color: #eee;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul, ol {

    margin-top: 0;
    margin-bottom: 10px;
}
.pull-right {
    float: right !important;	
}
.text-muted {
    color: #999;
}
h3, .h3 {
    font-size: 24px;
}
h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}